/*Overlays*/

#nytg-overlays {
    position: absolute;
    z-index: 40;
}

.nytg-overlay {
    position: absolute;
    display: none;
    color: #666;
}

.nytg-overlay h5 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 7px;
}

.nytg-overlay p {
    margin: 0;
    font-size: 12px;
    line-height: 1.45em;
}

.nytg-overlaySVG {
    width: 970px;
    height: 850px;
    position: absolute;
    z-index: 0;
}

/*Start*/

.nytg-overview {
    position: absolute;
    width: 275px;
    top: 100px;
    left: 10px;
}

.nytg-overview p {
    font-size: 13px;
}

.nytg-aside {
    position: absolute;
    width: 125px;
    left: 775px;
    top: 266px;
    text-align: center;
}

.nytg-increasesLabel {
    position: absolute;
    top: 100px;
    left: 540px;
    width: 60px;
    border-top: dashed 1px rgba(0, 0, 0, 0.2);
}

.nytg-increasesLabel span {
    position: absolute;
    right: -105px;
    top: -10px;
    width: 100px;
}

.nytg-decreasesLabel {
    position: absolute;
    top: 470px;
    left: 560px;
    width: 60px;
    border-top: dashed 1px rgba(0, 0, 0, 0.2);
}

.nytg-decreasesLabel span {
    position: absolute;
    right: -105px;
    top: -10px;
    width: 100px;
}

#nytg-deficitCircle {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 60px;
    left: 700px;
}

.nytg-deficitCircle {
    stroke-width: 1;
    stroke: #999;
    stroke-dasharray: 4 4;
    fill: none;
}

#nytg-colorKey {
    position: absolute;
    top: 210px;
    left: 10px;
    width: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nytg-sizeKey {
    position: relative;
    height: 110px;
    width: 200px;
}

#nytg-scaleKey {
    width: 100%;
    height: 100%;
    position: absolute;
}

.nytg-circleKeyLabel {
    position: absolute;
    border-top: solid 1px #DDD;
    width: 40px;
}

#nytg-sizeKey .nytg-circleKeyLabel span {
    font-size: 10px;
    color: #999;
    position: absolute;
    display: block;
    left: 45px;
    top: -8px;
    width: 80px;
    z-index: 100;
}

.nytg-scaleKeyCircle {
    stroke-width: 1;
    stroke: #999;
    stroke-dasharray: 2 2;
    fill: none;
}

#nytg-colorKey ul {
    margin: 0;
    padding: 0;
}

#nytg-colorKey p {
    margin-bottom: 8px;
}

#nytg-colorKey li {
    background-image: none;
    padding: 0;
    margin: 0;
    float: left;
    display: block;
    height: 100%;
}

.nytg-colorSwatches {
    width: 100%;
    height: 10px;
}

.nytg-colorSwatches li {
    width: 16%;
    border-right: solid white 1px;
}

.nytg-colorTicks {
    height: 6px;
}

.nytg-colorTicks li {
    width: 16%;
    border-right: solid #CCC 1px;
}

.nytg-colorLabels {
    margin-top: 3px;
    height: 20px;
    position: relative;
    left: 8%;
}

.nytg-colorLabels li {
    width: 16%;
    text-align: center;
    font-size: 10px;
    line-height: 1em;
    padding: 4px 0 0 0!important;
    margin: 0;
}

/*Mandatory*/

.nytg-discretionaryExplainer {
    text-align: center;
    left: 550px;
    top: 100px;
    position: absolute;
    width: 340px;
}

.nytg-mandatoryExplainer {
    text-align: center;
    left: 150px;
    top: 80px;
    position: absolute;
    width: 340px;
}

.nytg-discretionaryAside {
    position: absolute;
    left: 800px;
    top: 120px;
    width: 130px;
}

.nytg-mandatoryAside {
    position: absolute;
    left: 30px;
    top: 120px;
    width: 140px;
}

/*By Change*/

#nytg-discretionaryIntro {
    top: 80px;
    left: 10px;
    width: 500px;
    position: absolute;
}

.nytg-discretionaryTickLabel {
    width: 200px;
    position: absolute;
    left: 10px;
}

.nytg-discretionaryTickLabel p {
    position: relative;
    top: -6px;
    font-size: 10px;
}

.nytg-discretionaryTick {
    position: absolute;
    border-top: dashed 1px #CCC;
    left: 60px;
    width: 900px;
}

.nytg-discretionaryTick p {
    font-size: 10px;
    text-align: left;
    position: absolute;
    left: -50px;
    width: 40px;
    top: -8px;
}

.nytg-discretionaryZeroTick {
    border-top: solid 1px #AAA;
    left: 10px;
    width: 950px;
}

/*Department*/

.nytg-departmentAnnotation {
    position: absolute;
    z-index: 1000;
}

.nytg-departmentAnnotation p {
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nytg-departmentAnnotation p.total {
    font-weight: bold;
    margin-bottom: 0.3em;
    color: #000;
}

.nytg-departmentAnnotation p.total {
    font-weight: bold;
}

.nytg-departmentAnnotation.nytg-row0 p {
    font-size: 14px;
}

.nytg-departmentAnnotation.nytg-row0 p.total {
    font-size: 16px;
}

.nytg-departmentAnnotation.nytg-row1 p {
    font-size: 11px;
}

.nytg-departmentAnnotation.nytg-row1 p.total {
    font-size: 13px;
}

.nytg-departmentAnnotation.nytg-row2 p {
    font-size: 10px;
}

.nytg-departmentAnnotation.nytg-row2 p.total {
    font-size: 12px;
}

.nytg-departmentAnnotation.nytg-row3 p {
    font-size: 10px;
}

.nytg-departmentAnnotation.nytg-row3 p.total {
    font-size: 12px;
}

.nytg-departmentAnnotation.nytg-row4 p {
    font-size: 10px;
}

.nytg-departmentAnnotation.nytg-row4 p.total {
    font-size: 12px;
}

/*Department*/

#nytg-departmentOverlay p.nytg-emptyCircleLabel {
    position: absolute;
    left: 125px;
    top: 280px;
    width: 80px;
    text-align: center;
    color: #999;
    font-size: 11px;
    line-height: 1.45em;
    font-style: italic;
}
